@page
@model WebApplication1.Pages.ROOMS11.QuestListModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Room Kryvyi Rih | Catalog of Escape Rooms | Quest Rooms List</title>
</head>
<style>
body
{
    background: black;
}
.mainImg
{
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.BookNowMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 550px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 160px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.BookNowMain:focus 
{
    outline: none;
}
.EscapeRoomsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 335px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 205px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.EscapeRoomsMain:focus 
{
    outline: none;
}
.GroupsMain
{
    font-family: monospace;
    position: absolute;
    bottom: 815px;
    right: 195px;
    color: white;
    border: 1px solid black;
    font-size: 24px;
    width: 130px;
    font-weight: bold;
    padding-right: 24px;
    background: black;
    border-radius: 4px; 
    cursor: pointer;
}
.GroupsMain:focus 
{
    outline: none;
}
.line1
{
    position: absolute;
    width: 99.9%;
    top: 100px;
    color: white;
}
.oth1
{
    text-decoration: none;
    position: absolute;
    right: 515px;
    top: 10px;
    color: gray;
    font-weight: bold;
    cursor: default;
}
.oth2
{
    text-decoration: none;
    position: absolute;
    right: 450px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth2:hover
{
    color: #FFC300;
}
.oth3
{
    text-decoration: none;
    position: absolute;
    right: 330px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth3:hover
{
    color: #FFC300;
}
.oth4
{
    text-decoration: none;
    position: absolute;
    right: 200px;
    top: 10px;
    color: white;
    font-weight: bold;
}
.oth4:hover
{
    color: #FFC300;
}
.table11 
{
    color: azure;
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    position: absolute;
    top: 200px;
}
.table11 th, .table11 td 
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table11 th 
{
    background-color: #555;
    color: white;
}
.Btn11
{
    color: whitesmoke;
    background: #555;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 120px;
}
.Btn22
{
    color: whitesmoke;
    background: #555;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.Btn33
{
    color: whitesmoke;
    background: #555;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
</style>
<body>
    <!-- HEADER -->
    <div class="header1">
        <a asp-page="/Index">
            <img class="mainImg" style="width: 200px;" src="~/images/catalog of escape rooms.png" alt="Catalog of Escape Rooms">
        </a>
        <select class="BookNowMain" id="myBookNowMain">
            <option value="" disabled selected>BOOK NOW</option>
            <option value="kr1">Kryvyi Rih 1</option>
            <option value="kr2">Kryvyi Rih 2</option>
            <option value="prvt">PRIVATE ESCAPE ROOMS</option>
        </select>
        <select class="EscapeRoomsMain" id="myEscapeRoomsMain">
            <option value="" disabled selected>ESCAPE ROOMS</option>
            <!-- Rooms Here -->
        </select>
        <select class="GroupsMain" id="myGroupsMain">
            <option value="" disabled selected>GROUPS</option>
            <option value="gsPT">GROUPS & PARTIES</option>
            <option value="tmBG">TEAM BUILDING</option>
        </select>
        <a class="oth1" disabled>QUEST ROOM LIST</a>
        <a asp-page="/ROOMS11/FAQ" class="oth2">FAQ</a>
        <a asp-page="/ROOMS11/Cards" class="oth3">GIFT CARDS</a>
        <a asp-page="/ROOMS11/Contact" class="oth4">CONTACT US</a>
    </div>
    <hr class="line1">
    <!-- TableListRooms -->
    <div>
        <a asp-page="/ROOMS11/CreateRooms" class="btn btn-primary btn-sm Btn11">New Room</a>
        <table class="table11">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>About</th>
                    <th>TimeLimit</th>
                    <th>GroupSizeMin</th>
                    <th>GroupSizeMax</th>
                    <th>MinAge</th>
                    <th>Address</th>
                    <th>PhoneNum</th>
                    <th>Email</th>
                    <th>CompanyName</th>
                    <th>Rate</th>
                    <th>FearLvl</th>
                    <th>Difficult</th>
                    <th>GalleryImage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rooms in Model.listRooms)
                {
                    <tr>
                        <td>@rooms.Id</td>
                        <td>@rooms.Name</td>
                        <td>@rooms.About</td>
                        <td>@rooms.TimeLimit</td>
                        <td>@rooms.GroupSizeMin</td>
                        <td>@rooms.GroupSizeMax</td>
                        <td>@rooms.MinAge</td>
                        <td>@rooms.Address</td>
                        <td>@rooms.PhoneNum</td>
                        <td>@rooms.Email</td>
                        <td>@rooms.CompanyName</td>
                        <td>@rooms.Rate</td>
                        <td>@rooms.FearLvl</td>
                        <td>@rooms.Difficult</td>
                        <td>@rooms.GalleryImg</td>
                        <td>
                            <a class="btn btn-primary btn-sm Btn22" href="/Rooms/Edit?Id=@rooms.Id">Edit</a>
                            <a class="btn btn-danger btn-sm Btn33" href="/Rooms/Delete?Id=@rooms.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>